body {
    line-height: 150%;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

header {

    display: flex;
    justify-content: center;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.h3 {
   background-color: #d1e0e0;
}

form {
    margin-bottom: 30px;
    border: 2px solid #d1e0e0;
}

#form {
    padding-left: 20px;
    padding-right: 20px;
}
#results {
    border: 2px solid #d1e0e0;

}